.visible-xs {

	display: none;

}



.hidden-xs {

	display: block;

}



.hidden-md-up {

	display: none;

}





@media(max-width: 1400px) {

	body {

		min-width: 320px;

		width: auto;

	}



	.hidden-md-up {

		display: none;

	}

}



@media(max-width: 1280px) {

	.hidden-md-up {

		display: none;

	}

}



@media(max-width: 992px) {

	.hidden-md-up {

		display: none;

	}

}



@media(max-width: 768px) {





	body, html {

		max-width: 100 %;

		font-size:14px;
		overflow-x: hidden;

	}



	.visible-xs {

		display: block;

	}



	.hidden-xs {

		display: none;

	}



	h1, .h1 {

		font-size: 18px;
		line-height: 18px;

	}



	h2, .h2 {

		font-size: 22px;

	}



	h3, .h3 {

		font-size: 18px;

	}



	h4, .h4 {

		font-size: 16px;

	}



	h5, .h5 {

		font-size: 14px;

	}



	h6, .h6 {

		font-size: 12px;

	}



	.adv_search_wrp {

		display: block;

		visibility: hidden;

		width: 0;

		height: 0;

		opacity: 0;

	}



	.adv_search_wrp.popup {

		display: block;

		visibility: visible;

		opacity: 1;

		position: fixed;

		width: 95 %;

		height: 100 %;

		overflow: auto;

		top: 0;

		right: 0;

		margin: 0;

		left: auto;

		border: none;

		border-radius: 0;

	}



	.adv_search_wrp.loading {

		position: fixed;

		width: 95 %;

		height: 100 %;

		margin: 0;

		background-color: # fff;

		background-image: none;

	}



	.adv_search_wrp.loading:: before {

		position: fixed;

	}



	.adv_search_wrp .adv_search_header {

		position: fixed;

		top: 0;

		width: 95 %;

		background-color: # fff;

		right: 0;

		line-height: 36px;

		text-align: center;

		z-index: 3;

	}



	.adv_search_wrp .adv_search_header:: before {

		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.16) 0, rgba(0, 0, 0, 0) 100 %);

		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.16) 0, rgba(0, 0, 0, 0) 100 %);

		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.16) 0, rgba(0, 0, 0, 0) 100 %);

		display: block;

		width: 100 %;

		height: 5px;

		content: "";

		top: 100 %;

		left: 0;

		position: absolute;

	}



	.adv_search_wrp .adv_search_header .hide_button {

		display: block;

		padding: 0 0 0 20px;

		position: absolute;

		left: 0;

		top: 0;

		cursor: pointer;

	}



	.adv_search_wrp .adv_search_footer {

		position: fixed;

		bottom: 0;

		width: 95 %;

		background-color: # fff;

		right: 0;

		padding: 10px 20px;

		z-index: 3;

	}



	.adv_search_wrp .adv_search_footer:: before {

		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0 %, rgba(0, 0, 0, 0.16) 100%);/ * FF3.6-15 * / background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0 %, rgba(0, 0, 0, 0.16) 100%);/ * Chrome10-25, Safari5.1-6 * / background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 %, rgba(0, 0, 0, 0.16) 100%);/ * W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+* / display: block;

		width: 100 %;

		height: 5px;

		content: "";

		bottom: 100 %;

		left: 0;

		position: absolute;

	}



	.adv_search_wrp .adv_search_footer .button.hide_button {

		width: 47 %;

		margin: 0 3 % 0 0;

	}



	.adv_search_wrp .adv_search_footer .button.reset_button {

		display: inline-block;

		width: 47 %;

		margin: 0 0 0 3%;

	}



	# cat_product_sort {

		display: inline-block;

		width: 100 %;

		vertical-align: top;

		margin: 0;

	}



	# cat_product_sort .hidden-xs {

		display: none;

	}



	# cat_product_sort form {

		display: block;

		padding: 0 5px 0 0;

	}



	# cat_product_sort form select {

		height: 33px;

		width: 100%;

	}



	.adv_search_button {

		width: 50%;

		display: inline-block;

		vertical-align: top;

	}



	.adv_search_button>sup {

		display: inline-block;

		background-color: #fff;

		width: 15px;

		height: 15px;

		line-height: 16px;

		color: #3a4651;

		top: 0;

		margin: 0 0 0 5px;

		border-radius: 50%;

		font-size: 12px;

		text-align: center;

	}



	.adv_search_button>i {

		margin: 0 5px 0 0;

	}



	.products_wrp {

		padding: 20px 0 0 0;

	}



	.footer-flow-up-button {

		display: none;

	}





	.rspns_header_top_menu_wrp {

		width: 100%;

		top: 0;

		left: 0;

		z-index: 99999999999;

		position: fixed;

	}
	.model_list_link a {
		color: #3b6d9a;
		transition: .3s;
		font-size: 12px;
		font-weight: bold;
	}



	.rspns_header_top_menu_wrp.fixed {

		position: fixed;

	}



	.rspns_header_top_menu {

		background-color: #394550;

		color: #fff;

		position: relative;

		display: table;

		width: 100%;

	}



	.rspns_header_top_menu .rspns_htm_row {

		display: table-row;

		width: 100%;

	}



	.rspns_header_top_menu .rspns_htm_row .rspns_htm_cell {

		display: table-cell;

		vertical-align: middle;

	}



	.rspns_header_top_menu .rspns_htm_row .rspns_htm_cell:hover {

		background-color: #4e6a83;

	}
	.pi_extra {
		display: none;
	}


	.rspns_header_top_menu .rspns_htm_row .rspns_htm_cell.rspns_htm_cell_menu {

		width: 50px;

	}



	.rspns_header_top_menu .rspns_htm_row .rspns_htm_cell.rspns_htm_cell_search {

		width: 50px;

	}



	.rspns_header_top_menu .rspns_htm_row .rspns_htm_cell.rspns_htm_cell_contacts {

		width: 50px;

	}



	.rspns_header_top_menu .rspns_htm_row .rspns_htm_cell.rspns_htm_cell_cart {

		width: 50px;

	}





	.rspns_header_top_menu .rspns_menu .rspns_menu_btn {

		width: 50px;

		height: 50px;

		line-height: 50px;

		text-align: center;

		font-size: 20px;

		position: relative;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_btn.clicktogglernexthandler-on:before {

		display: block;

		position: absolute;

		bottom: 0;

		border-width: 0 7px 7px 7px;

		border-color: transparent transparent #fbf7ed transparent;

		border-style: solid;

		left: 50%;

		margin: 0 0 0 -7px;

		content: "";

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content {

		display: none;

		position: absolute;

		left: 0;

		width: 80%;

		top: 0;

		border-bottom: 3px solid #000;

		z-index: 5;

		box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);

	}





	a.header_account_title.handler_popup_login_form {

		color: white;

	}





	.rspns_top_menu {

		display: block;

		width: 100%;

		background: #3f4e5d;

		padding-left: 10px;

	}



	.rspns_top_menu .header_logo {

		display: block;

	}

	.rspns_top_menu .header_logo img {

		height: 59px;

		padding: 7px;

	}

	.rspns_top_menu .header_login {

		display: inline-block;

		vertical-align: middle;

	}

	.rspns_top_menu .header_login::before {

		content: url(/images_sale/login_mob.svg);

		padding-left: 10px;

		margin-right: 5px;

		vertical-align: middle;

		display: inline-block;

	}

	.rspns_top_menu .header_lang {

		display: inline-block;

		vertical-align: middle;

	}

	.rspns_top_menu .header_lang ul {

		display: block;

		padding: 0 0 0 30px;

	}

	.rspns_top_menu .header_lang ul li {

		display: inline-block;

		margin: 0;

	}

	.rspns_top_menu .header_lang ul li a.lang {

		text-transform: uppercase;

		font-size: 14px;

		border: 1px solid rgba(255,255,255,0.3);

		border-radius: 15px;

		padding: 0 15px;

		display: inline-block;

		vertical-align: middle;

		line-height: 22px;

		color: #fff;

		margin: 0 10px 0 0;

	}

	.rspns_top_menu .header_lang ul li a.lang.current {

		background-color: rgba(255,255,255,0.3);

	}







	.header_account_menu_wrp {

		padding: 0;

	}



	.header_account_menu_wrp .header_account_title {

		padding: 17px 10px;

	}



	.header_account_menu_wrp>ul {

		display: block;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content.clicktogglernext-on {

		display: block;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul {

		background-color: rgb(12, 12, 12);

		margin-left: -34px;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul li {

		padding: 5px 5px;

		display: block;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul li a {

		font-size: 15px;

		text-decoration: none;

		padding: 13px 16px 12px;

		white-space: normal;

		line-height: 18px;

		text-align: left;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul li .sale_cat_cnt {

		width: 22px;

		height: 22px;

		display: inline-block;

		margin: 0 7px 0 0;

		overflow: hidden;

		line-height: 22px;

		font-size: 9px;

		text-align: center;

		background-color: #e83d39;

		border-radius: 50%;

		vertical-align: middle;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul li.new_prods_cat .sale_cat_cnt {

		background-color: #49c316;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul li .sale_cat_cnt.img {

		background-color: transparent;

		font-size: 0;

	}



	.rspns_header_top_menu .rspns_menu .rspns_menu_content ul li .sale_cat_cnt img {

		max-width: 100%;

		max-height: 22px;

		vertical-align: middle;

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_btn {

		width: 50px;

		height: 50px;

		text-align: center;

		line-height: 50px;

		font-size: 20px;

		display: block;

		position: relative;

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_form.clicktogglernext-on {

		display: block;

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_btn>i {

		width: 50px;

		height: 50px;

		vertical-align: top;

		line-height: 50px;

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_btn.clicktogglernexthandler-on:before {

		display: block;

		position: absolute;

		bottom: 0;

		border-width: 0 7px 7px 7px;

		border-color: transparent transparent #fff transparent;

		border-style: solid;

		left: 50%;

		margin: 0 0 0 -7px;

		content: "";

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_form {

		display: none;

		position: absolute;

		top: 100%;

		left: 0;

		background-color: #f7f5f5;

		border-bottom: 1px solid #b7babe;

		width: 100%;

		z-index: 3;

		box-shadow: 6px 8px 5px rgb(0 0 0 / 10%);

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_form form {

		display: block;

		margin: 5px 15px;

		position: relative;

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_form form #searchstring {

		width: 100%;

		display: block;

		height: 40px;

		color: #000;

		text-indent: 15px;
		border-radius: 50px

	}



	.rspns_header_top_menu .rspns_htm_search .rspns_search_form form #findbtt {
		position: absolute;
    top: 4px;
    right: 20px;
    width: 33px;

	}



	.rspns_search_form input#findbtt {
		background: none repeat scroll 0 0;
    background-image: url(/images_sale/search-cusmob.svg);

	}



	.rspns_header_top_menu .rspns_htm_logo {

		background-image: url(/images_sale/logo_head.svg);

		width: auto;

		height: 42px;

		background-size: contain;

		display: block;

		background-repeat: no-repeat;

		background-position: 50% 50%;

	}



	.rspns_header_top_menu .rspns_contacts_btn {

		font-size: 23px;

		width: 50px;

		height: 50px;

		display: inline-block;

		line-height: 50px;

		text-align: center;

		position: relative;

	}



	.rspns_header_top_menu .rspns_contacts_btn.clicktogglernexthandler-on:before {

		display: block;

		position: absolute;

		bottom: 0;

		border-width: 0 7px 7px 7px;

		border-color: transparent transparent #f4f4f4 transparent;

		border-style: solid;

		left: 50%;

		margin: 0 0 0 -7px;

		content: "";

	}



	.rspns_header_top_menu .rspns_contacts_content {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #f4f4f4;
		z-index: 3;
		border-bottom: 1px solid #394550;
		color: #000;
		padding: 1px 1px;
		line-height: 23px;

	}

	.rspns_header_top_menu .rspns_contacts_content.clicktogglernext-on {

		display: block;

	}



	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block {

		background-color: #fff;

		margin: 0 0 1px;

		display: block;

		overflow: hidden;

		position: relative;

		padding: 10px 15px 10px 60px;

		font-size: 13px;

	}



	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block .hdr_worktime_ico, .rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block .hdr_map_ico, .rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block .hdr_phone_ico {

/* 	
		display: block;

		float: left;

		height: 50px;

		margin: 0 30px 0 0;

		position: absolute;

		top: 0;

		left: 15px;

		width: 33px; */

	}



	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block .hdr_map_ico {

		background: url("/images/header_map_ico.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);

	}





	


	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block {

		/* background-image: url(/images_sale/phonecall.svg);

		width: auto;

		height: 30px;

		background-size: contain;

		display: block;

		background-repeat: no-repeat;

		background-position: 50% 50%; */
	}

	.hdr_phone_ico::before {

		content: url(/images_sale/phonecall.svg);

		padding-left: 10px;

		margin-right: 5px;

		vertical-align: middle;

		display: inline-block;	

	}







	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block .fa-comment {

		color: #918ac1;

	}



	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block a {

		font-size: 18px;

		line-height: 35px;

		text-decoration: underline dotted rgba(0, 0, 0, 0.3);

	}



	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block:first-child a {

		display: block;

	}



	.rspns_header_top_menu .rspns_contacts_content .rspns_contacts_block:first-child br {

		display: none;

	}



	.rspns_header_top_menu .rspns_cart_btn {

		display: inline-block;

		width: 50px;

		height: 50px;

		line-height: 50px;

		font-size: 26px;

		text-align: center;

	}



	.header_categories_wrp .header_menu table {

		border-bottom: 4px solid #2f576a;

	}



	.header_categories_wrp .main_wide_padding {

		padding: 0;

	}



	.header_categories_wrp .header_menu table tr td .tv_subcategories_wrp {

		display: none;

		overflow: hidden;

	}



	.header_categories_wrp .header_menu table tr td.tv_link_root {

		border: none;

	}



	.header_categories_wrp .header_menu table tr td.tv_link_root.hover .tv_subcategories_wrp {

		display: block;

		position: relative;

		height: auto;

		background-color: #fff;

	}



	.header_categories_wrp .header_menu table tr td.hover .tv_subcategories_wrp::after {

		display: none;

	}



	.header_categories_wrp .header_menu table tr td .tv_subcategories_wrp .tv_subcategories {

		position: relative;

		border: none;

	}



	.subcats_row::before {

		display: none;

	}



	.subcats_row .subacts_col {

		width: 100%;

		text-align: left;

	}



	.subcats_row .subacts_col ul li:last-child a {

		border-bottom: none;

	}



	.subcats_row .subacts_col ul li.active a {

		background-color: transparent;

		color: #3b4752;

		border: 1px solid #0000001a;

	}



	subcats_row .subacts_col ul li.active a::before {

		display: none;

	}



	.subcats_row .subacts_col ul li.active a .catimgwrp {

		filter: none;

	}



	.subcats_row .subsubacts_col {

		display: none;

	}



	.header_categories_wrp {

		margin: 2px 0 4px;

		display: none;

	}



	body.home .header_categories_wrp {

		display: block;

	}



	body .header_categories_wrp .shopping_cart_info_wrp {

		display: none;

	}



	body .header_categories_wrp .header_menu {

		padding: 0;

	}



	.header_categories_wrp .header_menu table tr td.tv_link_root {

		padding: 0;

		display: block;

		width: 100%;

	}



	.header_categories_wrp .header_menu tr td .tv_alink {

		height: 50px;

		line-height: 50px;

	}



	.header_categories_wrp .header_menu table tr td.tv_link_root:nth-child(even) .tv_alink:before {

		display: none;

	}



	.header_categories_wrp .header_menu table tr td.tv_link_root:nth-child(even) .tv_alink:after {

		display: none;

	}



	.header_categories_wrp .header_menu table tr td.tv_link_root:nth-child(even) .tv_alink {

		margin: 0;

	}



	.header_categories_wrp .header_menu tr td .tv_link_name {

		font-size: 16px;

	}





	.rootgroups_wrp .rootgroups {

		padding: 30px 0 15px;

	}



	.rootgroups_wrp .root_group {

		margin: 0 1% 30px;

		width: 48%;

	}



	.rootgroups_wrp .root_group .root_group_title {

		text-align: left;

	}



	.rootgroups_wrp .root_group .root_group_cats a {

		margin: 0 0 10px;

		font-size: 15px;

		line-height: 18px;

	}



	.panels_mini_wrp .panels_tabs {

		font-size: 16px;

		margin: 0 0 20px;

		padding: 10px 0;

	}



	.panels_mini_wrp .panels_tabs .panels_tabs_item {

		margin: 0 5px 10px;

		padding: 0 15px;

	}



	.panels_mini_wrp .panels_tabs .panels_tabs_item .panels_tabs_name {

		font-size: 14px;

	}



	.products_scroll_wrp .scrollable {

		margin: 0 30px;

	}



	.products_scroll_wrp .prev, .products_scroll_wrp .next {

		left: 0;

	}



	.products_scroll_wrp .next {

		right: 0;

		left: auto;

	}



	.main_wide_padding .main_wide_col.main_wide_col_w20,

	.main_wide_padding .main_wide_col.main_wide_col_w70 {

		width: 100%;

		float: none;

	}



	.main_wide_col.main_wide_col_w20 .root_cats_tree {

		padding: 0;

		margin: 0;

	}



	.category_name {

		text-align: center;

		display: block;

		padding: 0;

		font-size: 24px;

		clear: both;

		min-height: 28px;

	}



	.root_cats_tree_btn {

		display: block;

		background-color: #fbf7ed;

		text-align: center;

		height: 50px;

		line-height: 50px;

		margin: 0 -10px;

		font-size: 16px;

		font-weight: bold;

		text-decoration: underline dotted rgba(0, 0, 0, 0.2);

	}



	.root_cats_tree_btn>i {

		color: #7c848b;

		margin: 0 7px 0 0;

	}



	.root_cats_tree_btn.clicktogglernexthandler-on i::before {

		content: "\f07c";

	}



	.root_cats_tree {

		display: none;

		padding: 5px 0 0;

		margin: 0 -8px;

	}



	.root_cats_tree ul li:last-child {

		border: none;

	}



	.root_cats_tree.clicktogglernext-on {

		display: block;

	}



	.cat_subcategories .subsubcat_item_wrp {

		width: 100%;

	}



	.cat_subcategories .subsubcat_item {

		border: 1px solid #e5e5e5;

		border-radius: 2px;

		box-shadow: 0 0 7px rgba(0, 0, 0, .07);

		display: block;

		margin: 0 0 -1px 0;

		padding: 10px 15px;

		overflow: hidden;

		width: 100%;
		min-height: 40px;

	}



	.cat_subcategories .subsubcat_item .imgwrp {

		float: left;

		width: 50px;

		height: 50px;

		margin: 0 15px 0 0;

		line-height: 50px;

	}



	.cat_subcategories .subsubcat_item .cat_item_name {

		text-align: left;

		font-size: 16px;

		padding: 0;

		overflow: hidden;

		display: block;

		margin: 0;

	}



	.category_hits {

		display: none;

	}



	.category_view_select_wrp {

		display: none;

	}



	.products_wrp .product_brief_table {

		/* margin: 0 3px 2px; */

		border-bottom: 1px solid rgba(0, 0, 0, .1);

		max-width: 155px;

		min-height: 340px;

		text-align: center;

	}



	.product_brief_table .imgwrp {

		line-height: 150px;

		height: 150px;

		width: 100%;

	}



	.product_brief_table .imgwrp img {

		max-height: 150px;

		max-width: 100%;

	}



	.navigator_wrp {

		font-size: 18px;

		text-align: center;

	}



	.pi_header_left {

		width: 100%;

		margin: 0 0 10px;

		display: block;

		clear: both;

	}



	.pi_header_left .imgwrp {

		min-height: 300px;

		line-height: 300px;

	}

	div#desc_diss {
		border: 1px solid #f1f0f0;
		box-shadow: 0 2px 2px rgba(0,8,29,5%), 0 0 2px rgba(0,8,29,6%), 0 1px 3px rgba(0,8,29,8%);
		border-radius: 10px;
		margin: 0;
		padding: 10px 20px 40px 20px;
		margin-bottom: 40px;
		height: 116px;
		overflow: hidden;
		display: none;
	}
	.product_follow_block {
		-webkit-box-shadow: var(--shadow-1dp);
		box-shadow: 0 2px 2px rgb(0 8 29 / 5%),0 0 2px rgb(0 8 29 / 6%),0 1px 3px rgb(0 8 29 / 8%);
		padding: 28px 8px 12px;
		height: 100%;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		display: flex;
		overflow: hidden;
		border-radius: 10px;
	}

	.pi_header_right {

		display: block;

		clear: both;

		margin-bottom: 5px;

		width: 100%;
		margin: 0;

	}
	.model_list_link img {
		display: none;
	}
	.pb_product_table_search {
		display: block;
		margin: 0 0 2px;
		border: 1px solid rgb(206 206 206);
		border-radius: 10px;
		position: relative;
		width: 100%;
	}

	div#reccom_related {
		grid-gap: 7px;
		margin: 0 -8px;
		padding: 10px 3px;
		display: grid;
		overflow: hidden;
		position: relative;
		transition: .3s;
		grid-template-columns: repeat(2, 1fr);
	}
	.product_model_block .pm_table .pm_table_row {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}


	.path {

		width: 100%;

		height: 100%;

		overflow-x: scroll;

		padding-bottom: 17px;

		white-space: nowrap;

		margin-bottom: 0;

		display: inline-flex;

		color: gray;

	}



	.path>span {

		display: inline-block;

	}



	.path a {

		display: inline-block;

		padding: 3px 10px;

		vertical-align: middle;

		text-decoration: underline dotted rgba(0, 0, 0, 0.2);

	}



	.product_name {

		position: relative;
		width: 100%;

	}


	.Description_statusRating_sku {
		display: flex;
		margin-bottom: 10px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
	}

	span.code_for_order_defination {
		color: rgba(0,0,0,87%);
		font-weight: 500;
		font-size: 12px;
	}


	.product_code {

		font-size: 14px;

		float: none;

		text-align: center;

	}



	.pi_header_right_header tr td {

		text-align: center;

		display: block;

		padding: 0;

		width: 100%;

	}



	.pi_price {

		padding: 0;

		text-align: center;
		margin-top: 10px;

	}
	.pm_table_row .pmtc_id:nth-child(3) {
		padding: 2px 10px;
		margin-bottom: 10px
	}


	table.pi_shippay_block {

		display: none;

	}



	div.pi_shippay_block {

		width: 100%;

	}



	div.pi_shippay_block ul li .pi_spayblk_desc .pi_spayblk_title {

		font-size: 16px;

	}



	div.pi_shippay_block ul li .pi_spayblk_desc .pi_spayblk_description {

		font-size: 14px;

	}



	.pi_soc_block {

		padding: 0;

		text-align: center;

	}



	.pi_header_right_header {

		margin: 0 0 10px;

	}



	.pi_tabs_wrp .tabs li {

		display: block;

		width: 100%;

		font-size: 16px;

		font-weight: bold;

		border-bottom: 1px solid rgb(142, 145, 157);

	}



	.pi_tabs_wrp .tabs {

		display: none;

		margin: 0;

		padding: 0;

	}



	.pi_tabs_wrp .tabs li .tabs_ico {

		height: 35px !important;

		width: 35px !important;

		background-size: contain;

	}



	.products_wrp.products_recommended_wrp .product_brief_table {

		width: 42%;

		min-height: 330px;

	}



	.tooltip_helper_wrp {

		display: none;

	}



	.pb_product_table_search .pb_product_table_search_form input {

		text-indent: 10px;

		font-size: 12px;

	}



	.pb_product_table tr td {

		padding: 5px 10px;

		text-align: left;

	}



	.pb_product_table tr td .pb_product_name {

		font-size: 14px;

		text-decoration: underline dotted rgba(0, 0, 0, 0.2);

	}



	.pi_models_page .pim_header_right {

		float: none;

		padding: 0;

		margin: 0 0 20px;

		position: relative;

		width: 100%;

	}



	.pi_models_page .pim_header_right .pim_allimages {

		text-align: center;

		width: auto;

	}



	.pi_models_page .pim_header_right .pim_allimages .scrollable_wrp .scrollable {

		height: auto !important;

	}



	.pi_models_page .pim_header_right .pim_allimages .scrollable_wrp .scrollable .lst {

		position: static;

		left: auto;

		top: auto !important;

		height: auto !important;

		width: auto !important;

	}



	.pi_models_page .pim_header_right .pim_allimages .scrollable_wrp .scrollable .lst .item {

		display: inline-block;

		float: none;

		clear: none;

	}



	.pi_models_page .pim_header_right .pim_allimages .scrollable_wrp .scrollable .lst .item.cloned {

		display: none;

	}



	.pi_models_page .pim_header_right .pim_allimages .next, .pi_models_page .pim_header_right .pim_allimages .prev {

		display: none;

	}



	.pi_models_page .pim_header_right .pim_allimages .imgwrp {

		width: 70px;

		height: 70px;

		line-height: 70px;

		display: inline-block;

		margin: 0 5px 10px;

	}



	.pi_models_page .pim_header_right .pim_allimages .imgwrp img {

		max-height: 70px;

	}



	.pi_models_page .pim_header_left {

		clear: both;

		margin: 0 0 30px;
		height: 250px;

	}
	.users_shippay_block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		flex-wrap: wrap;
	}
	



	.product_model_block.product_model_block_header {

		display: none;

	}



	.product_model_block .pm_table .hidden-xs {

		display: none;

	}



	.product_model_block .pm_table .visible-xs {

		display: block;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell.pmtc_img {

		float: left;

		display: block;

		width: 150px;

		overflow: hidden;

		height: 120px;

		background-color: #fff;

		line-height: 120px;

		text-align: center;

		margin: 0 12px 10px 0px;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell .imgwrp {

		width: 100%;

		line-height: 120px;

		display: block;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell .imgwrp img {

		max-width: 100%;

		max-height: 120px;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell.pmtc_id {

		display: inline-block;
		border: 1px solid rgba(0, 0, 0, 0.3);


		border-radius: 10px;

	}
	.delivery_pic_val.mobkos {
		margin-right: 70px;
	}
	.delivery_item {
		font-size: 12px;
	}
	.pi_header_left .pi_imgwrp {
		position: relative;

		width: 100%;
	}


	.product_model_block .pm_table .pm_table_row .pm_table_cell.pmtc_name {

		text-align: left;

		display: block;

		margin: 0 0 5px;

		overflow: hidden;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell.pmtc_name a {

		font-size: 12px;

		font-weight: bold;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell.pmtc_price {

		display: block;

		text-align: left;

		padding: 6px 5px;

	}



	.product_model_block .pm_table .pm_table_row .pm_table_cell.pmtc_add2cart {

		display: block;

		clear: both;

	}



	.pi-bottom-pane {

		position: fixed;

		bottom: 0;

		left: 0;

		width: 100%;

		background-color: #fff;

		overflow: hidden;

		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

	}



	.pi-bottom-pane .imgwrp {

		display: table-cell;

		width: 48px;

		height: 48px;

		line-height: 48px;

		padding: 0 10px 0 10px;

		text-align: center;

		vertical-align: top;

	}



	.pi-bottom-pane .imgwrp img {

		vertical-align: middle;

		max-width: 100%;

		max-height: 48px;

	}



	.pi-bottom-pane .name {

		display: table-cell;

		padding: 5px 5px;

		font-size: 11px;

		word-break: break-word;

	}



	.pi-bottom-pane .price {

		display: table-cell;

		white-space: nowrap;

		font-size: 14px;

		font-weight: bold;

		padding: 5px 10px;

		vertical-align: middle;

	}



	.pi-bottom-pane .buy {

		display: table-cell;

		padding: 5px;

		vertical-align: top;

	}



	.pi-bottom-pane .buy input.add2cart_handler {
margin: 10px;

	}



	.pi-bottom-pane .buy .add2cart_handler.add2preorder {

		font-size: 0 !important;

		width: 42px;

		height: 42px;

		display: inline-block;

	}



	.pi-bottom-pane .buy .add2cart_handler.add2preorder>i {

		font-size: 18px;

		margin: 0;

		width: 24px;

	}



	.product_brief_block .prdbrief_thumbnail {

		margin-right: 5px;

	}



	.product_brief_block .prdbrief_thumbnail .imgwrp {

		width: 100px;

		height: 100px;

		line-height: 100px;

		overflow: hidden;

	}



	.product_brief_block .prdbrief_thumbnail .imgwrp img {

		max-width: 100%;

		max-height: 100px;

	}



	.product_brief_block .product_brief_block_rside {

		text-align: left;

	}



	.product_brief_block .product_brief_block_rside .prdbrief_name .pseudo_link {

		font-size: 14px;

	}



	.product_brief_block .product_brief_block_rside .prdbrief_name .pseudo_link a {

		text-align: left;

		font-size: 16px;

		font-weight: bold;

		text-decoration: none;

	}



	.product_brief_block .product_brief_block_rside .prdbrief_options {

		font-size: 12px;

		line-height: 16px;

		word-break: break-all;

	}



	.product_brief_block .product_brief_block_rside .prdbrief_footer {

		padding: 7px 0 7px 7px;

	}



	.product_brief_block .product_brief_block_rside .prdbrief_footer .prdbrief_price {

		font-size: 22px;

		margin: 0 10px 0 0;

	}



	.product_brief_block .product_brief_block_rside .prdbrief_footer .prdbrief_add2cart {

		margin: 0 10px 0 0;

	}



	.addtocompare, .addtowishlist, .disscus {

		background-repeat: no-repeat;

		background-size: contain;

		width: 20px;

		background-position: 50% 50%;

		height: 20px;

		margin: 0 10px 0 0;

	}



	.disscus {

		margin: 0;

	}



	body.onesteporder.noframe {

		padding: 5px;

		min-width: 380px;

	}



	body.onesteporder .main_wide_padding {

		padding: 0;

	}



	body.onesteporder .onesteporder-width1000 {

		min-width: 0;

	}



	body.onesteporder .onesteporder-width1000-IFrame {

		padding: 0;

		width: auto;

	}



	body.onesteporder .onesteporder-remove-all-elements {

		display: inline-block;

		width: 50%;

		font-size: 13px;

		padding: 5px;

		margin: 0;

		text-align: center;

		vertical-align: middle;

		box-sizing: border-box !important;

		overflow: hidden;

		line-height: 30px;

	}



	body.onesteporder .onesteporder-remove-all-elements a {

		font-size: 13px !important;

		margin-right: 0;

		line-height: 16px !important;

		display: inline-block;

	}



	body.onesteporder .onesteporder-remove-all-elements a span {

		vertical-align: middle;

	}



	body.onesteporder .onesteporder-block-title {

		padding: 12px 16px 12px 13px;

		clear: both;

		display: block;

		width: 100%;

		text-align: center;

		font-weight: bold;

	}



	body.onesteporder .onesteporder-products-tr td, .onesteporder-products-tr-prelast td {

		line-height: 38px;

		vertical-align: top;

	}



	body.onesteporder .onesteporder-products-table .onesteporder-products-image {

		line-height: 0 !important;

		padding: 5px 3px 5px 5px !important;

		vertical-align: top;

		width: 50px;

	}



	body.onesteporder .onesteporder-products-table .onesteporder-products-image img {

		width: 40px;

		line-height: 0px;

		font-size: 0px;

	}



	body.onesteporder .onesteporder-products-table .onesteporder-products-name {

		padding: 5px 3px !important;

		line-height: 14px !important;

	}



	body.onesteporder .onesteporder-products-count-input {

		width: 25px;

	}



	body.onesteporder .onesteporder-products-price {

		width: auto;

		white-space: nowrap;

		font-weight: bold;

		background-color: transparent;

		padding: 5px !important;

	}



	body.onesteporder .onesteporder-products-delete {

		width: 33px;

		text-align: center;

		vertical-align: middle;

	}



	body.onesteporder .onesteporder-products-pre-total-table {

		width: 100%;

	}



	.onesteporder-products-pre-total-tr-total .onesteporder-products-pre-total-td2 {

		font-size: 16px;

		line-height: 16px;

		font-weight: bold;

		white-space: nowrap;

	}



	body.onesteporder .onesteporder-noframe-ordering-button {

		margin: 0;

	}



	.stat {

		margin-left: 0;

		padding: 15px 5px;

	}



	.footer_wrp .main_wide_padding {

		padding: 0;

	}



	.footer_wrp footer {

		padding: 10px 0 0 0;

		display: flex;

		flex-direction: column;

	}



	.footer_wrp footer .footer_col a[href^="tel:"] {

		font-size: 18px;

		padding: 0 0 5px;

		display: inline-block;

	}



	.footer_wrp footer .footer_col a[href^="tel:"]::before {

		content: "\f095";

		font-family: FontAwesome;

		color: #c48280;

		font-size: 25px;

		vertical-align: middle;

		margin: 0 10px 0 0;

	}



	.footer_wrp .footer_row .footer_col.footer_col_w25 {

		padding: 0 2%;

		width: 50%;

		font-size: 14px;

		display: flex;

		flex-direction: column;

		margin: 0 10px

	}



	.footer_wrp footer .footer_col.footer_col_w25 {

		padding: 5px 2% 18px;

		width: 100%;

		font-size: 14px;

		text-align: center;

		display: flex;

		flex-direction: column;



		margin: 0;

		display: flex;

		flex-direction: column;

	}



	.footer_wrp .footer_row .footer_col.footer_col_w33 {

		width: 50%;

		font-size: 12px;

	}



	.footer_wrp .footer_row .footer_col .footer_col_title {

		font-size: 16px;

		margin: 0 0 10px;

		font-weight: bold;

	}



	.footer_wrp .news_shortlist {

		display: none;

	}



	.footer_wrp .footer_copy {

		line-height: 18px;

		opacity: 0.7;

		clear: both;

		display: block;

		text-align: center;

		background-color: #000;

		padding: 30px;

		margin: 3px -10px 0 -10px;

	}



	.footer_wrp .footer_soc_buttons {

		text-align: center;

		margin-top: 10px;

	}



	.footer_wrp .footer_col_sitemap {

		display: none;

	}



	.floating_cart {

		right: auto;

		left: 0;

	}



	.order_brief .order_brief_product .imgwrp {

		width: 40px;

		height: 40px;

		float: none;

		line-height: 0;

	}



	.order_brief .order_brief_product .imgwrp img {

		max-height: 40px;

	}



	.__jivoMobileButton {

		bottom: 182px !important;

		width: 53px !important;

	}



	jdiv.button_5e6f {

		background: rgb(223 81 78) !important;

		width: 49px !important;

		height: 49px !important;

		border-radius: 53px !important;

		margin-bottom: 18px !important;

	}



	.form-input-wrp input {

		border: 1px solid #dedede;

		color: inherit;

		font-size: 18px;

		margin: 0;

		width: 100%;

		height: 55px;

	}



	.checkout-rows .form .form-row>label {

		width: 30%;

		display: block;

		float: left;

		padding: 11px 2px 0 0;

	}





	# bingc-phone-button.bingc-show {

		display: block;

		right: 50px;

		top: 65%;

	}



	.fa-shopping-cart:before {

		content: url(/images_sale/header_shoping_cart_icon.svg);

	}



	.banner_wrp {

		width: auto;

		margin: 0;

	}



	/*  */

	.btn-menu {

		color: #fff;

		padding: 7px;

		position: fixed;

		top: 10px;

		left: 1%;

		cursor: pointer;

		transition: right .10s;

		width: 43px;

		transform: translateZ(0);

		backface-visibility: hidden;

	}





	.btn-menu-right {

		position: fixed;

		top: 0;

		right: 0;

		cursor: pointer;

		transition: right .10s;

		width: 40%;

		backface-visibility: hidden;

		display: none;

		height: 100%;

		transition: all .1s linear .6s;

		background: grey;

	}



	.btn-menu-right span {

		display: block;

		height: 3px;

		background-color: rgb(255, 255, 255);

		margin: 5px 0 0 0;

		transition: all .1s linear .5s;

		position: relative;

	}





	.btn-menu span {

		display: block;

		height: 3px;

		background-color: rgb(255, 255, 255);

		margin: 5px 0 0 0;

		transition: all .1s linear .23s;

		position: relative;

	}



	.hidden-menu {

		display: flex;

		align-items: flex-start;

		justify-content: flex-start;

		flex-direction: column;

		position: fixed;

		list-style: none;

		padding: 6px 0px;

		margin: -6px;

		box-sizing: border-box;

		width: 75%;

		background-color: #ffffff;

		height: 100%;

		top: 0;

		left: -360px;

		transition: left .1s;

		z-index: 200;

		transform: translateZ(0);

		backface-visibility: hidden;

		overflow: auto;

	}







	.hidden-menu li {

		margin-bottom: 5px;

		padding: 5px 0;

	}



	.hidden-menu li a {

		text-decoration: none;

		font-size: 16px;

		color: rgb(8, 0, 0);





	}



	.hidden-menu li a:hover {

		text-decoration: underline;

	}



	.hidden-menu-ticker {

		display: none;

	}



	.hidden-menu-ticker-right {

		display: none;

	}





	.btn-menu span.first {

		margin-top: 0;

	}



	.hidden-menu-ticker:checked~.btn-menu {

		left: 60%;

		top: 10px;

		z-index: 9999;

		background: #838181;

		height: 33px;

		width: 35px;

		opacity: 0.9;

		border-radius: 50%;

	}



	.hidden-menu-ticker:checked~.btn-menu-right {

		display: block;

		opacity: 0.2;

	}
	.mainMenu_catalog_float_block {
		display: none;
	}

























	/* .btn-menu-right {

	  background: green;

	  width: 130px;

	  height: 130px;

	  transition: .5s;

	} */





	.hidden-menu-ticker:checked~.hidden-menu {

		left: 0;

	}





	/* .hidden-menu-ticker-right:checked~.hidden-menu{

	left: -300px;

	display:none;



  } */

	/* .hidden-menu-ticker-right:checked~.btn-menu-right span.first {

	transform: rotate(45deg);

	top: 8px;

  } */

	.hidden-menu-ticker:checked~.btn-menu span.first {

		transform: rotate(45deg);

		top: 8px;

	}



	.hidden-menu-ticker:checked~.btn-menu span.second {

		opacity: 0;

	}



	.hidden-menu-ticker:checked~.btn-menu span.third {

		transform: rotate(-45deg);

		top: -8px;

	}



	.menu_list_common {

		display: block;

		width: 100%;


	}







	.catalog_menu_slide a::before {

		content: url(/images_sale/catalog.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.worktime_menu_slide a::before {

		content: url(/images_sale/workttime.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}





	.main_menu_slide a::before {

		content: url(/images_sale/home.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.promotions_menu_slide a::before {

		content: url(/images_sale/promotions.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.powertools_menu_slide a::before {

		content: url(/images_sale/powertools.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.basket_menu_slide a::before {

		content: url(/images_sale/basket.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}





	.phone_menu_slide a::before {

		content: url(/images_sale/phone.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.email_menu_slide a::before {

		content: url(/images_sale/email.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.delivery_delay_menu_slide a::before {

		content: url(/images_sale/delivery_delay.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.reviews_menu_slide a::before {

		content: url(/images_sale/reviews.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.return_menu_slide a::before {

		content: url(/images_sale/return.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.map_menu_slide a::before {

		content: url(/images_sale/map.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}



	.new_product_menu_slide a::before {

		content: url(/images_sale/new_product.svg);

		padding-left: 9px;

		padding-right: 10px;

		vertical-align: middle;

	}







	.menu_list_common li {


		align-items: center;

		/* padding-left: 15px; */

		padding-top: 10px;

	}



	li.catalog_menu_slide {

		display: flex;

		justify-content: flex-start;

		align-items: center;

	}



	li.main_menu_slide {

		display: flex;

		justify-content: flex-start;

		align-items: center;

		/* padding-left: 10px; */

	}



	li.basket_menu_slide {

		/* padding: 14px 10px 12px; */

		border-bottom: 1px solid #e7e7e7;

	}





	#my-menu>li ul {

		display: none;

	}



	#my-menu>li>a {

		cursor: pointer;

	}



	#my-menu li {

		padding-left: 0;

	}













	.the_menu {

		display: none;

		padding-inline-start: 10px;

	}



	.the_menu-phone {

		display: none;

	}



	.the_menu li a {

		text-decoration: none;

		padding: 2px;

		display: block;



	}



	#bingc-phone-button svg.bingc-phone-button-circle {

		width: 831px !important;

		height: 74px !important;

		display: none;

	}



	#bingc-phone-button svg.bingc-phone-button-icon-icon {

		position: absolute;

		top: 18px !important;

		right: 5px !important;

		opacity: 0;

		padding: 7px !important;

		width: 33px !important;

		height: 44px !important;

		background-image: none;

	}









	#bingc-phone-button svg.bingc-phone-button-icon-icon {

		right: -333px !important;

		display: none;

	}





	#bingc-phone-button div.bingc-phone-button-icon-text {

		right: -346px !important;

		top: 22px !important;

display: none;

	}



	/* .phone_menu_slide a::after {

		content: url(/images_sale/arrow-down.svg);

		padding-left: 20px;

		padding-right: 10px;

		vertical-align: middle;

	} */



.floating_cart {

	display: none;

}

.PaymentMethods_item {
    margin-top: 10px;
}
img#img-current_picture {
	max-width: 350px;
	position: relative;
    top: 0;
	left: 10%;
}
.model_list_description {
    padding-right: 10px;
    font-size: 10px;
	display: none;
}
.top_product_info_block {
	box-shadow: none;
    border-radius: 0;
    margin: 0;
    margin-bottom: 0;
	padding: 5px 6px 3px 7px
}

span.review-button__text {
    font-size: 12px;
}


.stock_label.instock {
	color: #57ae00;
    background-color: rgb(241,248,235);
    line-height: 16px;
    border-radius: 20px;
    padding: 3px 8px 3px 5px;
    text-align: left;
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 2px;
}
.PaymentMethods_block_description {
	display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    flex-direction: column;
    gap: 1px;
	
}
.quick-buy_button {
	margin-right: 5px;
    border: 1px solid rgba(0,0,0,12%);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 10px;
    color: red;
    transition: .3s;
}



.pi-wholesale-price-block {

    border: 1px solid hsl(0deg 0 89% / 80%);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,8,29,5%), 0 3px 4px rgba(0,8,29,6%), 0 2px 5px rgba(0,8,29,8%);
    display: flex;
    flex-direction: column;
  
}

.line {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    width: 100%;
    line-height: 16px;
    margin: 1px 0 1px 0;
    border-bottom: 1px dashed rgba(0,0,0,.15);
    align-items: center;
}
div#kupit {
	border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 11px 4px 2px 8px;
    margin-bottom: 5px;
}
.model_suitable_for_block .msf_title {
    display: block;
    font-size: 21px;
    margin: 3px auto;
    padding: 5px 10px;
}	
.name {
    width: 50%;
    padding: 2px 0 4px 4px;
    color: rgba(0,0,0,54%);
}

input.product_add2cart_handler.button_buy.visible-xs {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 9999999999;
}
.delivery_container {
    margin-bottom: 10px;
    margin-top: 11px;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: 400;
	display: flex;
    flex-direction: column;
}
.pi_tabs_wrp_floating {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}
.PaymentMethods_block {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.PaymentMethods_item_description {
	display: inline-flex;
    margin-bottom: 6px;
    padding: 5px 6px;
    background: rgba(23,60,97,6%);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}























.accordion {
	width: 100%;
	max-width: 360px;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	list-style-type: none;
  }
  
  .accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	list-style-type: none;
  }
  
  .accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
  }
  
  .accordion li.open .link { color: #b63b4d; }
  
  .accordion li.open i { color: #b63b4d; }
  
  .accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  
  /**
   * Submenu
   -----------------------------*/
  
  
  .submenu {
	display: none;
	font-size: 14px;
	list-style-type: none;
  }
  
  
  .submenu a {
	display: block;
	text-decoration: none;
	color: #d9d9d9;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	
  }
  
  .submenu a:hover {
	color: rgb(236, 30, 30);
  }
  .menu_list_common li {
    list-style-type: none;
}

.submenu li a {
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: -8px;
}

/* .top-information a {
	color: rgb(255,0,0);
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
		padding-top: 5px;
} */
.top-information {
	width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  position: relative;
  overflow: hidden;
	height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

  
}
img.svg_image_info {
    height: 22px;
    margin-left: 10px;
    margin-bottom: 5px;
}


span.\'info_text {
	color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    height: auto;
    padding-top: 5px;
    font-size: 14px;
    text-decoration: none;
}


/* .top-information.fixed {
position: fixed;
top:50px;
font-size:16px;
height: 32px;
z-index: 3;
} */


.main_wide_padding {
	display: block;
	margin: 0 auto;
	max-width: 1400px;
	padding: 0 2%;
	}
	
.banner_wrp {
		width: 358px;
		margin: auto;
		margin-top: 5px;
		}

.pi_header_right_header .add2cart_handler {
			height: 40px;
			width: 120px;
		}


		sub, sup {
			font-size: 40%;
line-height: 0;
position: relative;
vertical-align: baseline;
			}
			sup {
				top: -1.7em;
				right: 1.1em;
				color: red;
			}
			



}